<mat-toolbar>
    <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="center center">
        <a href="https://www.facebook.com/cubingitaly/" aria-label="facebook">
            <fa-icon [icon]="['fab','facebook-f']"></fa-icon>
        </a>
        <a href="https://www.youtube.com/user/CubingItaly" aria-label="youtube">
            <fa-icon [icon]="['fab','youtube']"></fa-icon>
        </a>
        <a href="https://t.me/cubingitaly">
            <fa-icon [icon]="['fab','telegram']"></fa-icon>
        </a>
        <a href="https://www.instagram.com/cubingitaly/">
            <fa-icon [icon]="['fab','instagram']"></fa-icon>
        </a>
        <a href="https://twitter.com/CubingItaly">
            <fa-icon [icon]="['fab','twitter']"></fa-icon>
        </a>
        <a href="https://github.com/CubingItaly/cubingitaly.org">
            <fa-icon [icon]="['fab','github']"></fa-icon>
        </a>
    </mat-toolbar-row>
</mat-toolbar>