<div fxLayout fxLayoutAlign="center">
    <div fxFlex.gt-sm="80%" fxFlex.lt-md="100%" *ngIf="competition && registration">
      <h1 ngClass.lt-md="h1xs" ngCLass.gt-sm="h1md">{{competition.name}}</h1>
      <mat-tab-group [selectedIndex]="currentIndex" (selectedIndexChange)="updateURL($event)">
        <mat-tab label="Generale">
          <ng-template matTabContent>
            <general-info [competition]="competition" [registration]="registration"></general-info>
          </ng-template>
        </mat-tab>
        <mat-tab label="Registrazione">
          <ng-template matTabContent>
            <registration-info [registration]="registration" [competitionId]="competition.id"
              [contactEmail]="competition.contactEmail" [isMultiLocation]="competition.isMultiLocation">
            </registration-info>
          </ng-template>
        </mat-tab>
        <mat-tab label="Programma" *ngIf="schedule && schedule.length > 0">
          <schedule-info [schedule]="schedule"></schedule-info>
        </mat-tab>
        <mat-tab label="Indicazioni" *ngIf="directions && directions.length > 0">
          <ng-template matTabContent>
            <directions-info [directions]="directions"></directions-info>
          </ng-template>
        </mat-tab>
        <mat-tab *ngFor="let tab of tabs" label="{{tab.name}}">
          <ng-template matTabContent>
            <extra-tab [tab]="tab"></extra-tab>
          </ng-template>
        </mat-tab>
        <mat-tab label="Disclaimer">
          <ng-template matTabContent>
            <disclaimer-info></disclaimer-info>
          </ng-template>
        </mat-tab>
  
        <mat-tab *ifRole="'eComp';ifParam:competition" label="Gestisci">
          <div fxLayout fxLayoutAlign="center">
            <div fxFlex.lt-md="90%" fxFlex.gt-xs="100%" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap-gt-sm="2%"
              style="margin-top:20px" fxLayoutGap.gt-sm="2%">
              <a mat-raised-button color="primary" routerLink="/admin/competizioni/{{competition.id}}">Modifica
                informazioni</a>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>