table{
    width: 100%;
}

@media screen and (max-width: 600px){

    table{
        border:0;
    }

    th{
        display: none;
    }
    
    tr{
        margin:10px
    }

    td{
        display: block;
        border: 0px;
    }
    
}