<table class="mat-elevation-z1">
    <thead>
      <th></th>
      <th>Data</th>
      <th>Nome</th>
      <th>Opzioni</th>
    </thead>
    <tr *ngFor="let c of competitions; let i = index" [ngClass]="(i%2)===0?'even':'odd'">
      <td class="wca"><a href="https://www.worldcubeassociation.org/competitions/{{c.id}}" target="blank"><img
            src="/assets/images/wca.svg" /></a></td>
      <td class="date">{{c | compDays}}</td>
      <td class="name"><a routerLink="/competizioni/{{c.id}}">{{c.name}}</a></td>
      <td class="options"><a routerLink="/competizioni/{{c.id}}">
          <fa-icon icon="eye"></fa-icon>
        </a>
        <a routerLink="/admin/competizioni/{{c.id}}">
          <fa-icon icon="edit"></fa-icon>
        </a>
      </td>
    </tr>
  </table>