<div class="general-container" fxLayout fxLayoutAlign="center">
  <div fxFlex="100%" fxFlex.lt-md="90%" fxLayout="column" fxLayoutGap="20px">
    <h2>Schedule</h2>
    <div>
      <button mat-raised-button color="primary" (click)="importSchedule()">Importa la schedule dal sito WCA</button>
    </div>
    <div><strong>L'operazione può essere eseguita solamente da chi risulta essere delegato o organizzatore della
        competizione sul sito della WCA.</strong></div>
    <div>
      L'operazione può richiedere un po' di tempo.
    </div>
  </div>
</div>