<div fxLayout fxLayoutAlign="center" class="container">
    <div fxFlex.gt-sm="80%" fxFlex.lt-md="90%" fxLayout fxLayout.lt-md="column" fxLayoutGap="40px">
        <div fxFlex.gt-sm="60%">
            <div fxLayout="column">
                <page-viewer pageId="5"></page-viewer>
                <h2>Associarsi</h2>
                <page-viewer [showTitle]="false" pageId="6"></page-viewer>
                <div>
                    <a mat-raised-button color="primary" ngClass.xs="button-xs" ngClass.gt-xs="button-gt-xs"
                        href="/associazione/associati">ASSOCIATI</a>
                </div>
            </div>
        </div>
        <div fxFlex.gt-sm="40%" class="doc">
            <h2>Documenti</h2>
            <mat-accordion multi="true" *ngIf="statuto && statuto.length > 0">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Statuto
                    </mat-expansion-panel-header>
                    <a *ngFor="let s of statuto" href="{{s.path}}" fxLayout fxLayoutAlign="start center">
                        <fa-icon [icon]="['far','file-pdf']"></fa-icon><span>{{s.title}}</span>
                    </a>

                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="mozioni && mozioni.length > 0">
                    <mat-expansion-panel-header>
                        Mozioni
                    </mat-expansion-panel-header>

                    <a *ngFor="let m of mozioni" href="{{m.path}}" fxLayout fxLayoutAlign="start center">
                        <fa-icon [icon]="['far','file-pdf']"></fa-icon><span>{{m.title}}</span>
                    </a>

                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="verbali && verbali.length > 0">
                    <mat-expansion-panel-header>
                        Verbali
                    </mat-expansion-panel-header>

                    <a *ngFor="let v of verbali" href="{{v.path}}" fxLayout fxLayoutAlign="start center">
                        <fa-icon [icon]="['far','file-pdf']"></fa-icon><span>{{v.title}}</span>
                    </a>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
    </div>
</div>
