<div fxLayout fxLayoutAlign="center">
    <div fxFlex.gt-sm="80%" fxFlex.lt-md="90%" fxLayout fxLayout.lt-md="column" fxLayoutGap="40px">
        <div fxFlex.gt-sm="65%">
            <div fxLayout="column">
                <page-viewer pageId="5" ></page-viewer>
                <!--<page-editor titleEditor="true" pageId="5"></page-editor>-->
                <h2>Associarsi</h2>
                <page-viewer [showTitle]="false" pageId="6"></page-viewer>
                <!--<page-editor titleEditor="true" pageId="6"></page-editor>-->
                <div>   
                    <a mat-raised-button color="primary" ngClass.xs="button-xs" ngClass.gt-xs="button-gt-xs" href="/associazione/associati" >ASSOCIATI</a>
                </div>
            </div>
        </div>
    </div>
</div>
