<div class="main-container" fxLayout="column">
  <mat-sidenav-container fxFlex="grow">
    <mat-sidenav #sidenav mode="over" [(opened)]="isSidebarOpened" fixedInViewport="true" fxHide.gt-sm>
      <div fxLayout="column" fxLayoutGap="10px">
        <a mat-button style="height: 0px"></a>
        <ng-container *ngFor="let url of menuUrls">
          <a mat-button routerLink="{{url.url}}" (click)="sidenav.close()" [ngClass]="{'a-selected': url.isSelected}">
            <fa-icon [icon]="[url.iconPrefix,url.icon]"></fa-icon>{{url.text |
            uppercase}}
          </a>
        </ng-container>
      </div>

    </mat-sidenav>

    <mat-sidenav-content fxLayout="column">
      <app-toolbar [menu]="menuUrls" [(ngModel)]="isSidebarOpened" ngDefaultControl id="top"></app-toolbar>
      <router-outlet></router-outlet>
      <span fxFlex="grow"></span>
      <app-footer></app-footer>
      <back-to-top></back-to-top>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>