<div fxLayout fxLayoutAlign="center">
  <div fxFlex.gt-sm="80%" fxFlex.lt-md="90%" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div fxFlex.gt-sm="70%">
      <form [formGroup]="form" fxLayout="column" fxLayoutGap="10px">
        <h1>Contattaci</h1>
        <p>Per contattarci puoi usare il seguente form o inviarci direttamente <a
            href="mailto:comunicazione@cubingitaly.org">una
            mail</a>.</p>

        <mat-form-field>
          <input matInput placeholder="Nome e cognome" length="50" formControlName="name">
          <mat-error>
            Il nome è troppo corto (almeno 3 caratteri).
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" length="50" formControlName="email">
          <mat-error>
            Inserisci un indirizzo email valido.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Oggetto della richiesta" length="50" formControlName="subject">
          <mat-error>
            L'oggetto è troppo corto (almeno 5 caratteri).
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Messaggio" matTextareaAutosize matAutosizeMinRows=5 matAutosizeMaxRows=10
            formControlName="message"></textarea>
          <mat-error>
            Il messaggio è troppo corto (almeno 3 caratteri).
          </mat-error>
        </mat-form-field>

        <div>
          <button mat-raised-button color="primary" (click)="submit()">Invia</button>
        </div>

      </form>
    </div>
    <div fxFlex.gt-sm="30%">
    </div>
  </div>
</div>