<div fxLayout fxLayoutAlign="center">
    <div fxFlex.lt-md="90%" fxFlex.gt-sm="100%" fxLayout="column">
      <h2>Disclaimer</h2>
      <p>Cubing Italy lavora con l'obiettivo di garantire il rispetto del regolamento WCA, al fine di rendere
        riconosciute le competizioni svolte sul territorio italiano.
      </p>
      <p>
        Tutti gli aspetti organizzativi delle competizioni (tra cui gestione dei costi, qualità degli ambienti, programma
        della gara e gestione delle registrazioni) sono invece gestiti dai singoli organizzatori degli eventi e non da
        Cubing Italy stessa (a meno che Cubing Italy compaia fra gli organizzatori).
      </p>
      <p>
        Sponsorizzazioni e altre partnership, dove non specificato, sono gestite direttamente dai singoli organizzatori
        delle competizioni, e non da Cubing Italy.
      </p>
      <p>
        Le informazioni offerte su questo sito hanno come unico scopo quello di fornire i dettagli delle
        competizioni in italiano ma, a differenza di quelle presenti in inglese sul sito della World Cube Association, non
        hanno alcun valore ufficiale. In caso di discrepanze, le informazioni presenti sul sito della World Cube
        Association sono da ritenersi come ufficiali.
      </p>
  
    </div>
  </div>