.mat-radio-button{
    display: flex;
    flex-direction: column;
}

button{
    margin-top:30px;
    font-size: 18px;
    padding:10px;
    width:200px;
}

.button-xs{
    width: 100%;
}

.radio-div{
    margin-top:30px;
}

.justify p{
    text-align: justify;
}

.mid-p{
    margin:0;
}

.checkboxes{
    margin-top:40px;
}

a fa-icon{
    color:#000;
}