.welcome{
    margin-top:30px;
}

.quick-links {
    text-align: center;
    padding:20px;
    text-transform: uppercase;
    color:#000;
    font-weight: 600;
}

.quick-links a{
    color: #000;
    text-decoration: none;
}

.quick-links img{
    padding:10px;
    width: 50%;
    height: auto;
}
@media screen and (max-width: 599px) {
    .quick-links{
        padding:10px;
    }
    .quick-links img{
      width: 95%;
    }
  }
.ig .ig-white{
    display: none;
}

.quick-links:hover{
    background-color: #0B5EA6;
    color:#fff;
}

.ig:hover .ig-white{
    display: inline;
}


.ig:hover .ig-color{
    display: none;
}