<div class="welcome" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="column" class="mat-elevation-z1">
        <div class="banner-container">
            <slideshow *ngIf="banners" [imageUrls]="banners" [backgroundSize]="'cover'" [autoPlay]="true"
                [height]="'370px'">
            </slideshow>
        </div>
        <a routerLink="/chi-siamo" aria-label="Scopri Cubing Italy">
            <div class="who-we-are">
                <span>Benvenuto! Clicca qui per scoprire di più su Cubing Italy!</span>
            </div>
        </a>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <a href="https://www.instagram.com/cubingitaly/" target="_blank" aria-label="Scopri Cubing Italy" class="ig" fxFlex="33%">
            <div class="quick-links mat-elevation-z1" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <img class="ig-color" src="/assets/images/ig_color.png">
                <img class="ig-white" src="/assets/images/ig_white.png">
                <span fxHide.lt-lg>Seguici su Instagram!</span>
            </div>
        </a>
        <a routerLink="/chi-siamo" aria-label="Scopri Cubing Italy" fxFlex="33%">
            <div class="quick-links mat-elevation-z1" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <img src="/assets/images/mastercubo.png" alt="">
                <span fxHide.lt-lg>Impara a risolvere!</span>
            </div>
        </a>
        <a href="https://worldcubeassociation.org/" aria-label="Scopri Cubing Italy" target="_blank" fxFlex="33%">
            <div class="quick-links mat-elevation-z1" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <img src="/assets/images/wca.png" alt="">
                <span fxHide.lt-lg>Partecipa a una competizione!</span>
            </div>
        </a>

    </div>
</div>