.welcome{
    margin-top:30px;
}

a{
    color: #000;
    text-decoration: none;
}

.who-we-are, .quick-links {
    text-align: center;
    padding:20px;
    text-transform: uppercase;
    color:#000;
    font-weight: 600;
}

.who-we-are:hover , .quick-links:hover{
    background-color: #0B5EA6;
    color:#fff;
}

img{
    padding:10px;
}

@media screen and (max-width: 959px) {
    .who-we-are, .quick-links{
        padding:10px;
    }

}


.ig .ig-white{
    display: none;
}

.ig:hover .ig-white{
    display: inline;
}

.ig:hover .ig-color{
    display: none;
}