<mat-toolbar color="primary">
    <mat-toolbar-row class="first" ngClass.lt-lg="first-ld-md" ngClass.gt-md="first-gt-sm" fxLayout="row"
        fxLayoutAlign="start center">
        <button class="sidenav-button" fxFlex="noshrink" fxHide.gt-md (click)="sideMenuButtonClicked()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <a href="https://www.cubingitaly.org"><img src="/assets/images/logo.png" fxFlex="noshrink" /></a>
        <span fxFlex="grow"></span>
        <div *ifRole="'guest'">
            <a mat-button routerLink="/login" fxHide.lt-lg>
                <fa-icon icon="sign-in-alt" class="login-icon"></fa-icon><span>Accedi</span>
            </a>
            <a mat-icon-button routerLink="/login" fxHide.gt-md>
                <fa-icon icon="sign-in-alt"></fa-icon>
            </a>
        </div>
        <div *ifRole="'user'" fxFlex="noshrink">
            <button mat-button [matMenuTriggerFor]="userMenu" fxHide.lt-lg>
                <fa-icon icon="user" class="login-icon"></fa-icon><span>{{user.name}}</span>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="userMenu" fxHide.gt-md>
                <fa-icon icon="user"></fa-icon>
            </button>

            <mat-menu #userMenu="matMenu" xPosition="after">
                <button mat-menu-item fxHide.gt-md><span>{{user.name}}</span></button>
                <a routerLink="/pannello" mat-menu-item>Pannello</a>
                <button (click)="auth.logout()" mat-menu-item>Esci</button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="second" fxHide.lt-lg>
        <ng-container *ngFor="let url of menuUrls">
            <a routerLink="{{url.url}}" [ngClass]="{'a-selected': url.isSelected}">
                <fa-icon [icon]="[url.iconPrefix,url.icon]"> </fa-icon> {{url.text | uppercase}}
            </a>
        </ng-container>
    </mat-toolbar-row>
</mat-toolbar>