<div fxLayout fxLayoutAlign="center">
    <div fxFlex.lt-md="90%" fxFlex.gt-sm="100%" fxLayout="column" *ngIf="schedule">
      <ng-container *ngFor="let s of schedule">
        <h2>
          {{s.day |scheduleDay | titlecase}}
        </h2>
        <table fxHide.lt-md>
          <thead>
            <th class="hour">Inizio</th>
            <th class="hour">Fine</th>
            <th>Evento</th>
            <th>Round</th>
            <th class="format">Formato</th>
            <th class="cutoff">Cutoff</th>
            <th class="timelimit">Tempo Limite</th>
            <th class="advance">Avanzano</th>
          </thead>
          <tr *ngFor="let r of s.rows; let i=index" [ngClass]="(i%2)===0?'even':'odd'">
            <td class="hour">{{r.start }}</td>
            <td class="hour">{{r.end }}</td>
            <td>{{r.name}}</td>
            <td>{{r.roundName}}</td>
            <td class="format">{{r.roundFormat}}</td>
            <td class="cutoff">{{r.cutoff}}</td>
            <td class="timelimit">{{r.timeLimit}}</td>
            <td class="advance">{{r.advance}}</td>
          </tr>
        </table>
  
        <!-- mobile -->
        <div fxHide.gt-sm>
          <mobile-row *ngFor="let r of s.rows" [row]="r"></mobile-row>
        </div>
  
      </ng-container>
    </div>
  </div>