<div fxLayout fxLayoutAlign="center" class="officialcontainer">
    <div fxFlex.gt-sm="80%" fxFlex.lt-md="90%" fxLayout="row" fxLayoutGap="20px">
      <div fxFlex.lt-md="100%" fxFlex.gt-sm="75%">
        <div *ngIf="competitions && competitions.length>0">
          <h2>Competizioni organizzate o delegate</h2>
          <my-mobile-row fxHide.gt-sm *ngFor="let c of competitions" [competition]="c"></my-mobile-row>
          <my-desktop-table fxHide.lt-md [competitions]="competitions"></my-desktop-table>
        </div>
        <div *ngIf="!competitions || competitions.length === 0">
  
          <h2 style="text-align: center">Non sei organizzatore o delegato di nessuna competitione.</h2>
          <div fxLayout="row" fxLayoutAlign="center center">
            <img fxFlex="40%" fxFlex.xs="70%" src="/assets/images/error.png">
          </div>
        </div>
      </div>
    </div>
  </div>